src/conf/xml-resources/web-service-references/Agenda_2/wsdl/localhost_8080/SoapAgenda/Agenda.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agendaSoap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://agendaSoap/" name="Agenda">
<types>
<xsd:schema>
<xsd:import namespace="http://agendaSoap/" schemaLocation="http://localhost:8080/SoapAgenda/Agenda?xsd=1"/>
</xsd:schema>
</types>
<message name="devolverAgenda">
<part name="parameters" element="tns:devolverAgenda"/>
</message>
<message name="devolverAgendaResponse">
<part name="parameters" element="tns:devolverAgendaResponse"/>
</message>
<message name="insertarPersona">
<part name="parameters" element="tns:insertarPersona"/>
</message>
<message name="insertarPersonaResponse">
<part name="parameters" element="tns:insertarPersonaResponse"/>
</message>
<message name="validarAgenda">
<part name="parameters" element="tns:validarAgenda"/>
</message>
<message name="validarAgendaResponse">
<part name="parameters" element="tns:validarAgendaResponse"/>
</message>
<message name="devolverPersona">
<part name="parameters" element="tns:devolverPersona"/>
</message>
<message name="devolverPersonaResponse">
<part name="parameters" element="tns:devolverPersonaResponse"/>
</message>
<portType name="Validar">
<operation name="devolverAgenda">
<input wsam:Action="http://agendaSoap/Validar/devolverAgendaRequest" message="tns:devolverAgenda"/>
<output wsam:Action="http://agendaSoap/Validar/devolverAgendaResponse" message="tns:devolverAgendaResponse"/>
</operation>
<operation name="insertarPersona">
<input wsam:Action="http://agendaSoap/Validar/insertarPersonaRequest" message="tns:insertarPersona"/>
<output wsam:Action="http://agendaSoap/Validar/insertarPersonaResponse" message="tns:insertarPersonaResponse"/>
</operation>
<operation name="validarAgenda">
<input wsam:Action="http://agendaSoap/Validar/validarAgendaRequest" message="tns:validarAgenda"/>
<output wsam:Action="http://agendaSoap/Validar/validarAgendaResponse" message="tns:validarAgendaResponse"/>
</operation>
<operation name="devolverPersona">
<input wsam:Action="http://agendaSoap/Validar/devolverPersonaRequest" message="tns:devolverPersona"/>
<output wsam:Action="http://agendaSoap/Validar/devolverPersonaResponse" message="tns:devolverPersonaResponse"/>
</operation>
</portType>
<binding name="ValidarPortBinding" type="tns:Validar">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="devolverAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validarAgenda">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Agenda">
<port name="ValidarPort" binding="tns:ValidarPortBinding">
<soap:address location="http://localhost:8080/SoapAgenda/Agenda"/>
</port>
</service>
</definitions>